*{
margin:0;
padding:0;
box-sizing:border-box;
font-family: Arial, Helvetica, sans-serif;
}

html{
scroll-behavior:smooth;
}

body{
background:#0f172a;
color:white;
padding-top:80px;
}


header{
background:#020617;
padding:20px;
position:fixed;
width:100%;
top:0;
}

nav{
display:flex;
justify-content:space-between;
align-items:center;
}

nav h1{
color:#38bdf8;
}

nav ul{
display:flex;
list-style:none;
}

nav ul li{
margin-left:20px;
}

nav ul li a{
text-decoration:none;
color:white;
font-weight:bold;
}

nav ul li a:hover{
color:#38bdf8;
}



.container{
max-width:1100px;
margin:auto;
}

section{
padding:70px 20px;
}



.hero{
display:flex;
align-items:center;
justify-content:space-between;
flex-wrap:wrap;
}

.hero-text{
max-width:500px;
}

.hero h2{
font-size:40px;
margin-bottom:10px;
}

.hero span{
color:#38bdf8;
}

.title{
font-size:20px;
margin-bottom:10px;
}

.hero-img img{
width:250px;
border-radius:50%;
}



.btn{
display:inline-block;
margin-top:15px;
margin-right:10px;
padding:10px 20px;
background:#38bdf8;
color:white;
text-decoration:none;
border-radius:5px;
}

.resume{
background:#334155;
}



#about p{
margin-top:15px;
line-height:1.6;
}



.skills-list{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(150px,1fr));
gap:20px;
margin-top:20px;
}

.skill{
background:#1e293b;
padding:20px;
border-radius:8px;
text-align:center;
transition:0.3s;
}

.skill:hover{
transform:translateY(-5px);
}



.project-grid{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
gap:20px;
margin-top:20px;
}

.project-card{
background:#1e293b;
padding:20px;
border-radius:10px;
transition:0.3s;
}

.project-card:hover{
transform:translateY(-5px);
}



form{
display:flex;
flex-direction:column;
margin-top:20px;
}

input, textarea{
margin-bottom:15px;
padding:10px;
border:none;
border-radius:5px;
}

button{
padding:10px;
background:#38bdf8;
border:none;
cursor:pointer;
}

.social{
margin-top:20px;
}


footer{
text-align:center;
padding:20px;
background:#020617;
margin-top:40px;
}


@media(max-width:768px){

.hero{
flex-direction:column;
text-align:center;
}

.hero-img{
margin-top:20px;
}

}